Main Project(RestAssured+Jmeter+DbTests)/restservicedemo/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    PLAYER*,
    WEAPON*)>

<!ELEMENT PLAYER EMPTY>
<!ATTLIST PLAYER
    P_ID CDATA #REQUIRED
    NICKNAME CDATA #IMPLIED
    LEVEL CDATA #IMPLIED
    PROFESSION CDATA #IMPLIED
>

<!ELEMENT WEAPON EMPTY>
<!ATTLIST WEAPON
    W_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    DAMAGE CDATA #IMPLIED
    OWNER_ID CDATA #IMPLIED
>

